<a href="https://colab.research.google.com/github/CSI-NMIMS/Orientation/blob/main/Python_CSI_1st_Year_Orientation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### We start by the infamous "Hello World!"

In [ ]:
print("Hello world!!")

### We declare a variable by assigning a value to it.

In [ ]:
x = 4
print(x)

y = "Sally"
print(y)

### Trying to print them togther.

In [ ]:
print(x,y)

###Let's know about comments

In [ ]:
#This is how you put comments in python.

"""
This is a comment
spread over
more than just one line
"""

### New value overwrite older value

In [ ]:
print(y)
y="Not Sally"
#Random comment to check if it is part of the execution.
print(y) #Comments need not to be on the new line.

### Allowed variable nomenclature

In [ ]:
allowedname = "randomstring"
not_myage = 54
_my_age = 20
MyCar = "Swift"
OUTOFIDEAS = True
Canhavenumbers2 = "Yayy"

### NOT ALLOWED Variable names

In [ ]:
2apples = "Steve jobs is angry"

In [ ]:
dashed-names = "that's not gonna happen"

In [ ]:
no spaces = "atleast we got underscores"

###Multiple declaration

In [ ]:
var1,var2,var3 = "this", "is", "noice!"
print(var1)
print(var2)
print(var3)

In [ ]:
var1 = var2 = var3 = "TRIPLE NICE!!!"
print(var1,var2,var3)

#Arithematic Operators on numbers



1. Addition +
2. Substraction -
3. Multiplication *
4. Float Division /
5. Floor Division //
6. Modulus %
7. Power **

In [ ]:
a=5
b=4

print( a + b )
print( a - b )
print( a * b )
print( a / b )
print( a //b )
print( a % b )
print( a **b )

###Concatenation?Adding?

In [ ]:
a="Simple"
print("Programming is " + a)

In [ ]:
b="Programming is "
print(b+a)

###Works great with numbers

In [ ]:
print(not_myage)
print(_my_age)

In [ ]:
print(not_myage + _my_age)

###But....

In [ ]:
print("my age is " + _my_age)

###And that takes us to... 
#DATA TYPES



*   Text Type:	str 
*   Numeric Types:	int, float, complex
*   Sequence Types:	list, tuple, range
*   Mapping Type:	dict
*   Set Types:	set, frozenset
*   Boolean Type:	bool
*   Binary Types:	bytes, bytearray, memoryview

Catagories (Basically what I use the most):

1.   list, int, str 
2.   float, dict, tuple, bool
3.   range, complex, set

In [ ]:
a = "this is a string"
b = 99
c = 99.99
d = 6+8j
e = ["element","can","be", 74, 74]
f = ("element","can","be", 74, 74)
g = range(10) # THIS IS SO FUN
h = {
    "key1" : "this opens lock 1",
    "key2" : "this opens lock 2",
    "masterkey":"this opens all locks"
    }
i = True

###Let's check their datatypes

we use

```print(type(variable)```

In [ ]:
CoolList=[a,b,c,d,e,f,g,h,i]
for iterator in CoolList:
  print(type(iterator),iterator)

<class 'str'> this is a string
<class 'int'> 99
<class 'float'> 99.99
<class 'complex'> (6+8j)
<class 'list'> ['element', 'can', 'be', 74, 74]
<class 'tuple'> ('element', 'can', 'be', 74, 74)
<class 'range'> range(0, 10)
<class 'dict'> {'key1': 'this opens lock 1', 'key2': 'this opens lock 2', 'masterkey': 'this opens all locks'}
<class 'bool'> True

##Accessing and manipulating Sequence DataTypes

###Tuples are immutable. Lists are mutable
that means you can edit/ change/ update a list but not a tuple.
Let's try that by taking a list and a tuple and adding an element by using .append() function.

In [ ]:
list1=["apple","not apple","banana"]
print(list1)

['apple', 'not apple', 'banana']

In [ ]:
tuple1=("python","scala","kotlin")
print(tuple1)

('python', 'scala', 'kotlin')

In [ ]:
list1.append("Ruby")
tuple1.append("Ruby")

This happens because tuple object does not have .append() function

In [ ]:
print(list1,tuple1)

#If-Else {Conditionals}
We dont use brackets in python. we use indentations. Let's see how it is done.

    this is an example code block
      this is part of first indented block
      this is second line of first indented block
      this is the third line
        this is starting of second incented block
        see there is double space before these lines than the first indented block
      this line looks like its a new block but it is not
      it is part of first intendeb block


##You can think of it as

    this is an example code block
    {
      this is part of first indented block
      this is second line of first indented block
      this is the third line
      {
        this is starting of second indented block
        see there is double space before these lines than the first indented block
      }
      this line looks like its a new block but it is not
      it is part of first indented block
    }

In [ ]:
#basic If statement
print("1")
print("2")
print("3")
print("4")
#if the condition in front of "if" returns a 'True', it runs the next code block, otherwise it does not
if 5>3: 
  print("five")
print("6")


##Python If statement supports these logical conditions:
1.   Equals: a == b
2.   Not Equals: a != b
3.   Less than: a < b
4.   Less than or equal to: a <= b
5.   Greater than: a > b
6.   Greater than or equal to: a >= b

In [ ]:
#Basic if statement
CsiMember=True
if (CsiMember == True):
  print("You're good to go")
else:
  print("Go! Register!")

In [ ]:
#let's try making a number comparision program
a=23
b=34
if (a>b):
  print("a is greater")
if (a<b):
  print("b is greater")
else:
  print("both are equal")

#'and' & 'or' 
and & or are logical operators used to combine conditional satements.
###And gives an output "True" if both conditions are true. else it gives false.
###Or gives an output "True" if atleast 1 of the conditions is true. else it gives false.

In [ ]:
#Let's see some examples
print("for and conditions")
if (True and True):
  print("condition one passes\n")
if (True and False):
  print("condition two passes")
if (False and True):
  print("condition three passes")
if (False and False):
  print("condition four passes")

print("for or conditions")
if (True or True):
  print("condition one passes")
if (True or False):
  print("condition two passes")
if (False or True):
  print("condition three passes")
if (False or False):
  print("condition four passes")

Now how would check a lot of conditions togther, say 5 conditions.
so what we do in that case is, we use 
##nested If statements.
it means if condition inside another if block and so on.
we can learn from an example better.

In [ ]:
#make a program to check if number is between 7 square and 10 square
sq7 = 7**2
sq10 = 10**2

number=65
if (number > sq7 and number < sq10):
  print("number is between",sq7,"and",sq10)

#similarly
print("\nmethod 2")

if (number > sq7 ):
  print("greater than",sq7)
  if (number < sq10):
    print("smaller than",sq10)